@import "~bootstrap/scss/bootstrap";

body {
    padding-top: 60px;
  }

.jumbotron {
    background: none;
}

.for-whom .card {
    border: none;
}

.icon-container .fas {
    font-size: 4rem;
}

section {
    margin-bottom: 80px;
    margin-top: 80px;
    min-height: 40vh;
}

.small-square-image {
    width: 100px;
    height: 100px;
}

.map {
    position: relative;
    background: url("../images/map.png.jpg") no-repeat center center fixed;
}

.map .vertical-center {
    margin-top: 5%;
}