body {
  margin: 0;
}

header {
  width: 100%;
  background-color: #423440;
  padding: 50px 0 50px 0;
  text-align: center;
}

header a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  text-transform: capitalize;
}

p {
  text-indent: 20px;
}

.ol-styled > li {
  color: orange;
}

.ol-styled > ul > li {
  color: red;
}

.combinators > div {
  background-color: orangered;
}

span + section {
  background-color: yellow;
}

span ~ div {
  background-color: green;
}